body {
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
}

.navli {
  margin-right: 10px;
  list-style: none;
  text-decoration: none;
  color: rgb(32, 190, 233);
}

.navli:hover {
  color: rgb(0, 255, 0);
  transition: 500ms ease-in-out;
}

.navulitems {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
}

.socialmediaicons {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: center;
}

.social {
  margin: 0 5px 0 5px;
}

.social:hover {
  color: rgb(11, 220, 11);
  transition: 500ms ease-in-out;
}

.logo {
  width: 150px;
  align-content: center;
}

.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(50, 50, 50);
  width: 100%;
  position: fixed;
  top: 0;
}

.projects-title {
  color: white;
}

.projects-title:hover {
  background-color: rgb(21, 21, 21);
  transition: 500ms ease-in-out;
  color: rgb(0, 255, 0);
}

.works {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headline {
  margin-top: 15rem;
  color: rgb(0, 255, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.headline:hover {
  background-color: rgb(0, 0, 0);
  transition: 500ms ease-in-out;
}

.technologies {
  align-items: center;
  align-content: center;
  padding: 5px 5px 5px 5px;
  border: white;
}

.technologies:hover {
  background-color: rgb(0, 0, 0);
  transition: 500ms ease-in-out;
}

.technologies li {
  color: white;
  list-style: none;
  border: 1px solid white;
  border-radius: 20px;
  margin: 10px 10px 10px 10px;
  padding: 5px 5px 5px;
}

.technologies li:hover {
  color: rgb(0, 255, 0);
  transition: 500ms ease-in-out;
  border: solid rgb(0, 255, 0);
}

.technologies h3 {
  color: white;
  color: rgb(0, 255, 0);
}

.description {
  color: white;
  margin: 0 20px 0 20px;
  width: 80%;
  justify-content: center;
  border: 1px solid white;
}

.description:hover {
  color: rgb(0, 255, 0);
  transition: 500ms ease-in-out;
}

.description-header {
  color: white;
}

.description-header:hover {
  color: rgb(0, 255, 0);
  transition: 500ms ease-in-out;
}

.skill_head {
  color: white;
  margin-top: 50px;
}

.skill_head:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(0, 255, 0);
  transition: 500ms ease-in-out;
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid white;
  margin-top: 20px;
}

.skill_container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  list-style: none;
  flex-flow: column wrap;
    flex-direction: row;
    gap: 10px;
}

.skill_header:hover {
  color: red;
  transition: 500ms ease-in-out;
}

.picture {
  width: 100%;
  height: 17rem;
  margin-top: 20px;
  padding-top: 20px;
}

.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.cards {
  color: white;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(0, 0, 0);
  margin: 10px 10px 10px 10px;
  border: 1px solid white;
}

.project-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px 0 10px;
}

.project-title {
  color: rgb(0, 255, 0);
}

.project-title:hover {
  color: rgb(0, 255, 0);
  transition: 500ms ease-in-out;
}

.project-details:hover {
  color: rgb(0, 255, 0);
  transition: 500ms ease-in-out;
}

.built:hover {
  color: rgb(0, 255, 0);
  transition: 500ms ease-in-out;
}

.dev-list {
  list-style: none;
}

.dev-list li:hover {
  color: rgb(0, 255, 0);
  transition: 500ms ease-in-out;
}

.year {
  list-style: none;
}

.year:hover {
  color: rgb(0, 255, 0);
  transition: 500ms ease-in-out;
}

.project-button1 {
  background-color: rgb(0, 255, 0);
  color: black;
  text-decoration: none;
}

.project-button1:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(0, 255, 0);
  transition: 500ms ease-in-out;
}

.project-button2 {
  background-color: rgb(0, 255, 0);
  color: black;
  text-decoration: none;
}

.project-button2:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(0, 255, 0);
  transition: 500ms ease-in-out;
}

.project-button-below {
  margin-bottom: 15px;
}

.form_items {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

.form_items:hover {
  background-color: rgb(0, 255, 0);
  transition: 500ms ease-in-out;
  color: black;
}

.btnform {
  background-color: rgb(0, 255, 0);
  color: black;
}

.btnform:hover {
  background-color: rgb(0, 0, 0);
  transition: 500ms ease-in-out;
  color: white;
}

.projects:hover {
  background-color: rgb(0, 0, 0);
  transition: 500ms ease-in-out;
}

.resume-button {
  background-color: rgb(0, 255, 0);
  color: black;
  margin-top: 20px;
}

.resume-button:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(0, 255, 0);
  transition: 500ms ease-in-out;
}


@media screen and (min-width: 768px) {
  .skill_container {
    flex-direction: row;
    align-items: flex-start;
  }

  .projects-container {
    flex-flow: column wrap;
    flex-direction: row;
    gap: 10px;
    align-items: stretch;
  }

  .projects {
    width: 250px;
    height: 800px;
    margin: 10px 10px 10px 10px;
    background-color: rgb(50, 50, 50);
  }

  .picture {
    margin: 10px 10px 10px 10px;
    width: 90%;
    height: 10rem;
  }

  .navigation {
    flex-direction: row;
    justify-content: space-between;
  }

  .socialmediaicons {
    margin-right: 50px;
  }

  .description {
    width: 300px;
  }
}
