@import url('https://fonts.cdnfonts.com/css/gill-sans');
@import url('https://fonts.googleapis.com/css?family=Lato:400');

body {
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: gray;
  background-image: url("./Images/background.avif");
  font-family: 'Roboto', 'lato', sans-serif;
}

.collapsible {
  display: none;
}

.collapsible:not(.collapsed) {
  display: block;
}

.collapseContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 25px 0 25px;
}

.navli {
  margin-right: 10px;
  font-size: 1.7rem;
  list-style: none;
  text-decoration: none;
  color: whitesmoke;
}

.navli:hover {
  color: rgb(128, 196, 233);
  transition: 500ms ease-in-out;
}

.navulitems {
  text-decoration: none;
  display: none;
  flex-direction: row;
  justify-content: center;
  list-style: none;
}

.socialmediaicons {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: center;
}

.social {
  margin: 0 5px 0 5px;
}

.social:hover {
  color: rgb(11, 220, 11);
  transition: 500ms ease-in-out;
}

.logo {
  width: 80px;
  align-content: center;
}

.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(16, 44, 66);
  width: 100%;
  position: fixed;
  top: 0;
  margin-left: -8px;
}

.projects-title {
  
    color: white;
    margin-top: 50px;
    font-size: 40px;
    text-decoration: underline;

}

.works {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headline {
  margin-top: 7.5rem;
  color: rgb(0, 255, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.technologies {
  align-items: center;
  align-content: center;
  padding: 5px 5px 5px 5px;
  border: white;
}

.icons {
  color: white;
}

.technologies li {
  color: white;
  list-style: none;
  border: 1px solid white;
  border-radius: 20px;
  padding: 5px 5px 5px;
  margin: 5px 5px 5px;
}

.technologies h3 {
  color: white;
  color: rgb(0, 255, 0);
}

.description {
  color: white;
  width: 80%;
  justify-content: center;
  font-size: 32px;
}

.description-header {
  color: white;
  font-size: 45px;
  padding: 0;
  margin: 0;
}

.skill_head {
  color: white;
  margin-top: 50px;
  font-size: 40px;
  text-decoration: underline;
}

.skill_header {
  color: white;
  font-size: 35px;
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.skill_container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  list-style: none;
  flex-flow: row wrap;
  gap: 10px;
}

.picture {
  width: 100%;
  height: 17rem;
  margin-top: 20px;
  padding-top: 20px;
}

.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.cards {
  color: white;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 10px 10px 10px;
  border: 1px solid white;
}

.projects:hover {
  background-color: rgb(16, 44, 66);
  transition: 500ms ease-in-out;
}

.project-title {
  font-size: xx-large;
}

.project-details {
  font-size: small;
}

.project-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px 0 10px;
}

.dev-list {
  list-style: none;
}

.dev-list li:hover {
  color: rgb(0, 255, 0);
  transition: 500ms ease-in-out;
}

.year {
  list-style: none;
}

.project-link {
  font-size: 18px;
  border: 1px solid #6c76cf;
  border-radius: 20px;
  text-decoration: none;
  color: #7eb0fb;
  margin: 5px 5px 5px 5px;
}

.project-link:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(16, 44, 66);
  transition: 500ms ease-in-out;
}

/* .project-button2 {
  font-size: 18px;
  padding: 12px;
  border: 1px solid #6c76cf;
  border-radius: 16px;
}

.project-button2:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(0, 255, 0);
  transition: 500ms ease-in-out;
} */

.project-button-below {
  margin-bottom: 15px;
}

.form_items {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

.textarea {
  margin: 10px 0 10px 0;
}



.btnform {
  font-size: 18px;
  padding: 12px;
  background: transparent;
  border: 1px solid #6c76cf;
  border-radius: 16px;
  color: #7eb0fb;
  margin-top: 20px;
}

.btnform:hover {
  background-color: rgb(16, 44, 66);
  color: white;
  transition: 500ms ease-in-out;
}

.resume-button {
  font-size: 18px;
  padding: 12px;
  background: transparent;
  border: 1px solid #6c76cf;
  border-radius: 16px;
  color: #7eb0fb;
  margin-top: 20px;
}

.resume-button:hover {
  background-color: rgb(16, 44, 66);
  color: white;
  transition: 500ms ease-in-out;
}

.contackback {
  color: white;
  border: solid 1px white;
}

.contact-title {
  font-size: 40px;
}

@media screen and (min-width: 768px) {

  .navulitems {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
  }

  .contact-text {
    width: 300px;
  }

  .skill_container {
    flex-direction: row;
    align-items: flex-start;
  }

  .projects-container {
    flex-flow: column wrap;
    flex-direction: row;
    gap: 10px;
    align-items: stretch;
  }

  .projects {
    width: 250px;
    height: 800px;
    margin: 10px 10px 10px 10px;
  }

  .picture {
    margin: 10px 10px 10px 10px;
    width: 90%;
    height: 10rem;
  }

  .navigation {
    flex-direction: row;
    justify-content: space-between;
  }

  .socialmediaicons {
    margin-right: 50px;
  }

  .description {
    width: 300px;
  }
}
